{% extends 'base.html' %}

{% block content %}

<h1>Available books</h1><br>


{% if books %}
    <a href="{% url 'new_book' %}">New book</a>
        {% for el in books %}
            <div class ="alert alert-warning mt-2">
                <p>{{el.id}}--"{{el.name}}"-"{{el.description}}" - {{el.count}}-{{el.authors}}</p>
                <a href="{% url 'edit_book' el.id %}">Edit</a>
                <a href="{% url 'get_by_id' el.id %}">Detail</a>
                <a href="{% url 'delete_book' el.id %}">Delete</a>
            </div>
        {% endfor %}
    {% else %}
        <p>Oops, no books found. Want to <a href="{% url 'new_book' %}">add a new book</a>?</p>
    {% endif %}

{% endblock %}